<!-- Prepended text-->
<div class="form-group<% if(required) {%> required-control<% } %>">
  <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label"  for="<%= id %>"><%= label %></label>
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 <%= inputsize %>">
    <div class="input-group">
      <span class="input-group-addon"><%= prepend %></span>
      <input id="<%= id %>" name="<%= id %>" class="<%= inputsize %> form-control" placeholder="<%= placeholder %>" type="text"<% if(required) {%> required <% } %> />
    </div>
  </div>
</div>
