<!-- Text input-->

<div class="form-group<% if(required) {%> required-control<% } %>">
	<label class="col-lg-12 col-md-12 col-sm-12 col-xs-12 control-label" for="<%= id %>"><%= label %></label>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 <%= inputsize %>">
		<input id="<%= id %>" name="<%= id %>" type=<%= inputtype %>" placeholder="<%= placeholder %>" class="form-control <%= inputheight %>" <% if(required) {%> required <% } %> />
         <% if (helptext.length > 0) { %><p class="help-block"><%= helptext %></p><% } %>
	</div>
</div>
