body {
	background-color: #ff0;
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	padding-bottom: 10px;
	position: relative;
}

@media (max-width: 979px) {
	body {
		padding-top: 0px;
	}
}
.fb-desktop-template { 	
	position: relative;
	padding: 35px 35px 200px 35px;
}

.fb-desktop-template img {
	position:absolute;
	width: 100%;
    left:0;
	right: 0;
    top:0;
	bottom: 0;
}

.fb-desktop-template .fb-template-inner {
	padding: 20px;
	height: 420px;
	border: blueviolet solid 1px;
	background-color: cyan;
}

#components {
	min-height: 500px;
}

#target fieldset {
	border: 1px solid #ccc;
	min-height: 600px;
	padding: 5px;
	padding-bottom: 30px;
}
.component-row {
	padding: 0 0 20px 0px;
}

.component {
	position: relative;
	cursor: pointer;
	background-color: greenyellow;
}

.component-row > .component {
	margin: 0px;
	padding: 0px;
	background-color: #4cae4c;
}

input {
	cursor: pointer;
}

textarea {
	resize: vertical;
}

.popover .control-group {
	cursor: default;
}
.popover input {
	cursor: text;
}

.temp{
	width: 100%;
	height: 100%;
	background: transparent;
	position: absolute;
	z-index: 999999;
	top: 0;
	overflow-x: hidden;
	left: 0;
}

.temp form {
	width: 300px;
	padding: 8px 0px;
	border: 1px dotted #ccc;
	position: absolute;
	background: white;
	box-shadow: 0px 0px 30px #999;
	-webkit-transition: -webkit-transform 0.1s ease-out;
	overflow: hidden;
}

#render{
	min-height: 500px;
	font-family: monospace;
}

/* Popovers now are appended to their parent rather
than to the body/main document as they once were.
We need to over-ride some inherited stuff.. */
form .popover .controls {
	margin-left: 0;
}

form .popover .control-label {
	text-align: left;
}

form .popover form {
	width: 224px;
}

.popover-content form .btn{
	margin-right: 10px
}

.target{
	background: #f0f0f0;
	border: 1px dashed #ccc;
}

.target-left{
	top: 0;
	bottom:0;
	left: 0;
	width: 20px;
	background: #f0f0f0;
	border: 1px dashed #ccc;
}
.target-right{
	top: 0;
	bottom:0;
	right: 0;
	width: 20px;
	background: #f0f0f0;
	border: 1px dashed #ccc;
}
.target-down{
	position: absolute;
	bottom:0;
	left: 0;
	right: 0;
	height:20px;
	margin-top: 3px;
	background: #f0f0f0;
	border: 1px dashed #ccc;
}

#target, #input, #radioscheckboxes, #select, #buttons {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#target fieldset{
	width: 100%;
	overflow: hidden;
}


.nav>li>a {
	padding: 8px 13px;
}

.tab-pane {
	padding-top: 20px;
}


.popover {
	z-index: 2000;
}


.required-control .control-label:after {
	content: " *";
	color: #fc4c5e;
}
